<ion-view view-title="Entrance">
  <ion-content scroll="false">
    <div class="center-components">
      <div class="background-div"></div>
      <div class="text-component">
        <h1>EatMash</h1>
        <p>Colour your trip with local foods!</p>
      </div>
      <div class="button-component">
        <div class="center-button mashup-button">
          <button class="button button-assertive" ng-click="jumpToMashup()">
            Mash it up
          </button>
        </div>
        <div class="center-button how-button">
          <button class="button button-stable" ng-click="showHowtoPopup()">
            How this work
          </button>
        </div>
    </div>
  </ion-content>
</ion-view>
