<ion-view view-title="Mashup">
  <ion-content scroll="false">
    <div class="map-area" id="map">
    </div>
    <div class="mashup-items-area">
      <ion-list>
        <ion-item ng-repeat="place in places">
          <img class="place-image" ng-src="{{ place.image_url }}" />
          <span class="description">
            <h2>{{ place.name }}</h2>
            <h4>{{ addressStringify(place.display_address) }}</h4>
          </span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
