<ion-view view-title="Mashup">
  <ion-content scroll="false">
    <div class="map-area" id="map">
    </div>

    <div class="float-icon-area">
      <div class="float-icon" id="mashup-again" ng-click="mashupAgain()">
        <i class="icon ion-loop"></i>
      </div>
      <div class="float-icon" id="mashup-confirm" ng-click="mashupConfirm()">
        <i class="icon"
          ng-class="
            { 'ion-ios-checkmark-empty': !isMashupConfirmed,
              'ion-ios-checkmark': isMashupConfirmed }"></i>
      </div>
    </div>

    <div class="mashup-items-area">
      <ion-list>
        <ion-item ng-repeat="place in places track by $index" ng-click="focusMarker(place)">
          <img class="place-image" ng-src="{{ place.image_url }}" />
          <div class="description">
            <div class="texts">
              <p>
                <i class="icon meal-type-icon"
                  ng-class="
                    { 'ion-ios-sunny': isBreakfast($index),
                      'ion-coffee': isLunch($index),
                      'ion-ios-moon': isDinner($index) }"></i>
                {{ mealTypeString($index) }}
              </p>
              <h2>
                <i class="icon ion-location"></i>
                {{ place.name }}
              </h2>
              <p>
                <i class="icon ion-navigate"></i>
                {{ addressStringify(place.display_address) }}
              </p>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
