<ion-view view-title="Mashup">
  <ion-content scroll="false">
    <div class="map-area" id="map">
    </div>
    <div class="mashup-items-area">
      <ion-list>
        <ion-item ng-repeat="place in places" ng-click="focusMarker(place)">
          <img class="place-image" ng-src="{{ place.image_url }}" />
          <span class="description">
            <h2>
              <i class="icon ion-location"></i>
              {{ place.name }}
            </h2>
            <p>
              <i class="icon ion-navigate"></i>
              {{ addressStringify(place.display_address) }}
            </p>
          </span>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
